.loginPage {
  background: url('public/background.jpg')
}

.registerPage {
  background: url('public/background.jpg');
  width: 100%;
  height:100%;
}

.homePage {
  background: url('public/background.jpg')
}

.topBar {
  width: 100%;
  height: 60px;
  
  background-color: #F8D981;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}

.topLeft{
  display: flex;
  align-items: center;
  justify-content: center;
}
.topRight {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  
  flex: 5;

}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.topListItem {
  margin-right: 20px;
  font-size: 25px;
  list-style:none;
  font-weight: 100%;
  cursor: pointer;
}

.image{
  width: 100%;
    height: 100%;
}

.li{
  background-color: white;
  list-style:none;
  font-size: 20px;
}

.list{
  display:inline-block;
}

.button{
  float: right;
}

a{
text-decoration:none;
color:black;
  
}

.search{
  font-size: 20px;
  width: 100%;
  border-color: black;
}

.bigButton{
  width: 100%;
}

.borderColor{
  border-color: black;
}

.listM{
  height:230px;
}